@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any global custom styles here if needed */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7fafc; /* A light gray background for the app */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
